<form name="vm.customForm"
        val-form-manager
        novalidate
        ng-submit="vm.save()">
    <div ng-controller="mp.edit.controller as vm">
        <umb-load-indicator ng-if="!vm.showView">
        </umb-load-indicator>
        <div ng-show="vm.failToRetrieve">
            <div class="umb-box-content">
                <h4 class="bold">Failed to retrieve data.</h4>
                <i class="icon-alert red"></i>
                <strong class="red">Info:</strong> Make sure you clicked on the correct media protector node, or check the url id.
            </div>
        </div>
        <umb-editor-view ng-show="vm.showView && !vm.failToRetrieve">
            <umb-editor-header name="vm.eventName + ' action'"
                               name-locked="true"
                               hide-alias="true"
                               description="'this is a test'"
                               hide-description="true"
                               icon="icon-custom-save2"
                               hide-icon="false">
            </umb-editor-header>
            <umb-editor-container class="form-horizontal">              
                <div class="umb-package-details">
                    <div class="umb-package-details__main-content">
                        <div class="umb-box">
                            <div class="umb-box-header mp-action-header">
                                <div class="umb-box-header-title mp-title">{{vm.eventName}}</div>
                            </div>
                            <umb-box>
                                <div class="mp-text umb-box-content">
                                    <b>Edited by </b>{{vm.editedByUser}} <b>on</b> {{vm.editedDate | date :  "MMMM d, y h:mm a"}}<br />
                                    <b class="red">Important: </b>This will cancel <b>{{vm.eventName}}</b> action for the selected media node(s).
                                </div>
                                <div class="umb-panel-group__details-status ng-scope">
                                    <div class="umb-panel-group__details-status-icon-container">
                                        <umb-toggle checked="vm.disableEvent"
                                                    on-click="vm.toggleDisableAction()">
                                        </umb-toggle>
                                    </div>
                                    <div class="umb-panel-group__details-status-content">
                                        <div class="umb-panel-group__details-status-text">
                                            <span class="mp-text">
                                                Protect {{vm.eventName}} action for all media nodes
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </umb-box>
                        </div>
                        <div class="umb-box">
                            <div class="umb-group-panel__header">
                                Media
                            </div>
                            <div class="umb-box-content">
                                <umb-control-group label="Protected nodes" description="Select media nodes to protect.">
                                    <umb-node-preview style="max-width: 100%;"
                                                      ng-repeat="node in vm.selectedMediaIds"
                                                      icon="node.icon"
                                                      name="node.name == null ? node.variants[0].name : node.name"
                                                      allow-remove="true"
                                                      on-remove="vm.removeSelectedItem($index, vm.selectedMediaIds)">
                                    </umb-node-preview>
                                    <umb-node-preview ng-if="vm.selectedMediaIds.length === 0"
                                                      style="max-width: 100%;">
                                    </umb-node-preview>
                                    <a href=""
                                       class="umb-node-preview-add"
                                       ng-click="vm.openMediaPicker()"
                                       id="content-start-add"
                                       prevent-default>
                                        <localize key="general_add">Add</localize>
                                    </a>
                                </umb-control-group>
                            </div>
                        </div>
                    </div>
                    <div class="umb-package-details__sidebar">
                        <umb-box>
                            <div class="umb-box-header mp-action-header">
                                <div class="umb-box-header-title mp-title">User Exception</div>
                            </div>
                            <umb-box-content>
                                <umb-user-preview ng-repeat="user in vm.currentSelectedUsers"
                                                  name="user.name"
                                                  avatars="user.avatars"
                                                  allow-remove="true"
                                                  on-remove="vm.removeSelectedItem($index, vm.currentSelectedUsers)">
                                </umb-user-preview>
                                <a href=""
                                   style="max-width: 100%;"
                                   class="umb-node-preview-add"
                                   ng-click="vm.openUserPicker()"
                                   prevent-default>
                                    <localize key="general_add">Add</localize>
                                </a>
                            </umb-box-content>
                        </umb-box>                        
                    </div>
                </div>
            </umb-editor-container>
            <umb-editor-footer>
                <umb-editor-footer-content-right>
                    <umb-button action="vm.cancel()"
                                type="button"
                                button-style="cancel"
                                label="Cancel">
                    </umb-button>
                    <umb-button action="vm.save()"
                                type="button"
                                button-style="primary"
                                state="vm.saveButtonState"
                                label="Save">
                    </umb-button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>
    </div>
</form>